.dropdown
{
    margin-top:5px;

}

#text
{
padding: 0;
margin: 0;
margin-right: 45px;
margin-top: 7px;
}


.selectpicker
{
    margin-left: -30px;

}

.nav-tabs
{
    display: inline-flex;
}
.tabbable-line
{
    margin-top: -30px;
    margin-right: auto;
    margin-left: auto;
}
#date_btn
{
    margin-left: auto;.
    margin-right: 0px;
}
.tabbable-line
{
    margin-top: -30px;
}
.btn-success
{
    margin-top: 17px;
}
.btn-primary
{

    margin-right: auto;
    margin-left:auto;
}
p
{
    margin-left: 38px;
}
p1
{
    margin-right: 55px;
}
#amnit

{
    margin-left: 41px;
}
#majazi
{

}

#footer
{
    min-height: 545px;

}

#date_btn1
{

    width: 112%;
    margin-right: -4px;
}


.nav>li>a {
    padding: 8px 3px 6px 15px;
    display: flex;
}

.hotel
{
    padding-left: 1px;
}


#inputHelpBlock
{
    margin-right: 8px;
    width: 100%;
}

#texttab
{
    display: table-cell;

}
#home1 {
    height: 160px;

}